@font-face {
    font-family: Roboto_light;
    src: url(../../public/font/Roboto-Light.ttf);
  }

  @font-face {
    font-family: Delliger;
    src: url(../../public/font/DELLIGER-PersonalUse.otf);
  }

section {
  margin-bottom: 100px
}

  main{
    background-color: #ffffff;
      /*background-image: url('public/police/fond.png');
      background-size: 80%;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: top;
      max-width: 100%;
      max-height: 100%;*/
    }
    
   p {
    padding-left: 20%;
    padding-right: 20%;
    text-align:center;
   } 

   img{
    height:100%;
    width:100%;
    margin-bottom: 3px;
   }

    body {
        margin: 0;
        padding: 0;
    }
    h2 {
      font-family: Delliger;
      /* font-weight: 800; */
      font-size: 45px;
      /* line-height: 60px; */
      align-items: center;
      text-align: left;
      letter-spacing: 0.005em;
      color: #000000;
      display: inline-block;
      margin-left: 12%;
    }
  
 .fond{
  margin-left: 60px;
 }   



.back {
  margin-left: 10%;
      margin-bottom: 3%;
      background-image: url(../images/background/tache_rose.png);
      background-repeat: no-repeat;
      background-size: cover;
      /* background-position: center; */
      height: 149px;
      width: 400px;
}

/*.fond2 {
  margin-left: 10%;
  margin-bottom: 3%;
  background-image: url(../images/background/peint_verte.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 149px;
  width: 400px;
}*/


    .ligne {
      display: inline-block;
      width: 60%;
      margin-left: 24%;
      
    }
    
    .ligne ul {
      display: flex;
      list-style-type: none;
    }
    
    .ligne li {
      text-align: center;
      padding-right: 5%;
      padding-left: 5%;
      font-family: Roboto_light;
      
    }
    
    .ligne img {
      height : 150px;
      
    }