body{
    overflow-x:hiden;

}

#title{
    
    font-size:20px;
}

#title h1{
    text-align: center;
}


#gauche1 img{
    margin-top:2vw;
width: 48vw;
height:43vw;
}

#gauche1{
float:left;

}

#gauche1 p{
    position: absolute;
    margin-top:-40vw;
    text-align: center;
}

#droite1{
    float:right;
}

#droite1 img{
    width: 12vw;
    padding-left:18vw;
}

#contain2{
    content: "";
        display: table;
        clear: both;

}

#tit #gauche1, #droite1 {
    
    height: 350px;
    width: 40%;
    
margin-bottom:20vw;
}

#tit #gauche1{
    padding-left:5vw; 
}





#gauche2 h2, p{
    margin-bottom:-30vw;
width: 48vw;
height:43vw;
text-align: center;
font-size: 5vw;
}

#gauche2{
float:left;
padding-left:105vw;

}

#droite2{
    float:right;
    background-image: url(../../public/images/background/tache_orange.png);
    background-repeat: no-repeat;
    background-size:45vw;

}

#droite2 img{
    width: vw;
    padding-left:45vw;
}

#contain3{
    content: "";
        display: table;
        clear: both;
align-items: center;
margin-top:5vw;
}

#tit2 #gauche2, #droite2 {
    
    
    
margin-bottom:vw;
}

#tit2 #gauche2{
    padding-left:5vw; 
}

#tit2 #droite2{
    height: 60vw;
}