@font-face {
    font-family: Roboto_light;
    src: url(../../public/font/Roboto-Light.ttf);
  }

  @font-face {
    font-family: Delliger;
    src: url(../../public/font/DELLIGER-PersonalUse.otf);
  }




form{
    border: 2px solid #6c10e8;
    border-radius: 25px;
    margin: 10px;
    text-align: right;
    color: #6c10e8;
    font-family:Roboto_light ;
}
h1{
    font-family: Delliger;
    font-size:100px ;
    text-align: center;
}
/*form{
    text-align: center;
}