@font-face {
    font-family: Roboto_light;
    src: url(../../public/font/Roboto-Light.ttf);
  }

  @font-face {
    font-family: Delliger;
    src: url(../../public/font/DELLIGER-PersonalUse.otf);
  }
.back{
    margin-bottom: 30px;
}
.RDV{
    padding: 125px;
    font-family: Roboto_light;
    justify-content: right;
   
  }

  div{
    display: flex;
    margin-bottom: 20px;
    margin-top: 80px;

  }
.titre{
    text-align: center;
    font-size: 70px;
    font-family: Delliger;
    margin-bottom: 100px;
}

.GB{
    justify-content: left;
 margin-left: 30px;   
width: 250px;

}

.date{
    margin-left: 20px;
    text-align: center;
    font-size: 30px;
    
}

