@font-face {
    font-family: Roboto_light;
    src: url(../../public/font/Roboto-Light.ttf);
  }

  @font-face {
    font-family: Delliger;
    src: url(../../public/font/DELLIGER-PersonalUse.otf);
  }
.back{
    margin-bottom: 30px;
}

body{
  overflow-x:hidden;
}

.RDV{
  margin-left: 150px;
  margin-bottom: 172px;
  padding: 52px;
  font-family: Roboto_light;
  margin-right: 150px;
  justify-content: center;
 display: flex;
   
  }

  div{
   
    margin-bottom: 20px;
    margin-top: 80px;
    justify-content: center;
 display: flex;
  }
.titre{
    text-align: center;
    font-size: 100px;
    font-family: Delliger;
    margin-bottom: 100px;
}

.GB{
  display: flex;
  margin-bottom: 20px;
  margin-top: 80px;
  justify-content: center;

width: 250px;

}

.date{
  margin-bottom: -56px;
  justify-content: center;
  display: flex;
    
}

