#gauche{
    align-self: flex-start;
    display: flex;
      list-style-type: none;
      text-decoration: none;
      flex-direction: column;
      margin-right: 40%;
  }

  #reseaux{
    display: flex;
    flex-direction: row;
  }

  #droite{
    align-self: flex-end;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
  }

  #droite img {
    max-height: 30px;
    max-width: 30px;
  }

  #droite ul li{
  padding-right: 5%;
  }

  #droite ul{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
  }

  footer a{
    text-decoration: none;
  }

  footer {
    display: flex;
  }

  
.foot{
    justify-content: space-between;
  }