#gauche{
    display: flex;
      list-style-type: none;
      text-decoration: none;
      flex-direction: column;
      justify-content: flex-start;
  }

  #reseaux{
    display: flex;
    flex-direction: row;
  }

  #droite{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #droite img {
    max-height: 30px;
    max-width: 30px;
  }

  #droite ul{
    list-style-type: none;
    text-decoration: none;
    max-height: 30px;
    max-width: 30px;
  }

  footer a{
    text-decoration: none;
  }