@font-face {
    font-family: Roboto_light;
    src: url(../../public/font/Roboto-Light.ttf);
  }


nav {
    font-family: Roboto_light;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C9C8CB;
    
  }
  
  nav li {
    float: left;
    width:10%;
    height:70px;
  }

nav li a {
    display: block;
    color:rgb(11, 2, 2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height:100%;
    /* tester d'autres changements ...*/
  }

.active {
    margin-right: 50%;
}

nav img {
    height: 70px;
    width: 150px;
    margin-top: -11px;
}


#gauche{
  display: flex;
    list-style-type: none;
    text-decoration: none;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 40%;
}

#reseaux{
  display: flex;
  flex-direction: row;
}

#droite{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40%;
}

#droite img {
  max-height: 30px;
  max-width: 30px;
}

