@font-face {
    font-family: Roboto_light;
    src: url(../../public/font/Roboto-Light.ttf);
  }


/*Scrollbar*/
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #7CAE7A #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: whitesmoke;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(71, 71, 71);

}



body{
  margin:0;
}

  #wrap {
    width: 100%;
    height: 70px;
    margin: 0;
    z-index: 1000;
    position: relative;
    background-color: #000000;
  }
  .navbar {
    height: 70px;
    padding: 0;
    margin: 0;
   /* position: absolute;*/
  }
  .navbar li {
    height: 100%;
    width: 10em;
    float: left;
    text-align: center;
    list-style: none;
    font-family: Roboto_light;
    padding: 0;
    margin: 0;
    /* background-color: #4444;*/
  }

  .navbar a {
    padding: 16% 0;
    /* border-left: 1px solid #ccc9c9; */
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
  }

  nav img {
    height: 70px;
    width: 150px;
    margin-top: -25px;
}

.navbar .active {
    margin-right: 47.3%;
}

/*.navbar .active a {
    margin-top: 0;
    margin-bottom: 0;
}
*/

/*.navbar .logo:hover {
    cursor: pointer;
    background-color: #6e10e800;
}
*/

  .navbar li:hover,
  .survole:hover {
    background-color: #6C10E8;
    transition-duration: 0.5s;
  }
  .navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .navbar li:hover ul {
    display: block;
  }
  .navbar li ul li {
    background-color: #000000;
  }
  .navbar li ul li a {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #c9d4d8;
    border-bottom: 1px solid #000000;
  }
  .navbar li ul li a:hover {
    background-color: #6C10E8;
    transition-duration: 0.5s;
  }


  /*footer*/
#gauche{
  justify-content: flex-start;
  margin-right: 48%;
}

#reseaux{
display: flex;
flex-direction: row;
}

#droite{
justify-content: flex-end;
}

#droite img {
max-height: 30px;
max-width: 30px;
}

#reseaux li{
padding-right: 5%;
margin-bottom: 0;
}

#droite ul{
list-style-type: none;
text-decoration: none;
padding: 0;
}

footer a{
text-decoration: none;
color: white;
}

footer {
display: flex;
background-color: black;
}

footer div {
display: flex;
}


.foot{
justify-content: space-between;
}

.imgfoot{
width: 25% ;
margin-right: 3%;
}

footer ul{
padding: 0;
margin-top: 3%;
align-self: flex-start;
list-style-type: none;
text-decoration: none;
display: flex;
flex-direction: column;
}

footer li{
font-size: 1.2em;
margin-bottom: 10px;
color: white;
font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
color: #6C10E8;
}

#reseaux img:hover{
  transform: scale(1.1);
}

/*fin footer*/