body {
    margin:0;
    
      overflow-x:hidden;
      
}

#background_im{
    background-image: url(../../public/images/background/back_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 40vw;
    width:99vw;
}

#lvioleto{
text-align: center;

}

#lviolet{

    width: 70%;
margin-bottom:5vw;
}

#btn-1{
    border: 3px solid #FF6700;
    min-height: 100px;
    padding: 0 20px;
    font-size: 25px;
    width: 15vw;
    cursor: pointer;
    background-color: #ffffffe2;
transition: 2s;
}

#btn-1:hover{
background-color: #FF6700;
}

#lbout{
    text-align: center;
}










.grouping{
  margin-top:2vw;
  margin-left:3vw;
  margin-right:3vw;
  text-align: center;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-web img {
  width: 288%;
}

.box-web {
  width:200px ;
}

.row {
  display:flex;
  flex-wrap: wrap;
  gap: 42px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.content {
  margin-top:4.5%;
   width: 100%;
   height: fit-content;
   margin-right: 12.5%;
   background-color: #FF6700;
 }

#feuille{
  width: 4vw;
  position: absolute; /*petit prob niveau abaissement taille*/
  left:30vw;
}

h1 {
  font-size: 40px;
}

#map1{
  border-radius: 32px;
  margin-top:1vw;
  width: 67%;
}

#tache_profil{
  background-image: url(../../public/images/background/peint_bleu.png);
  background-repeat:no-repeat;
  background-size:35vw;
  background-position:center;
  height: 19vw;
  width:92vw;
  margin-top:2vw;
  margin-bottom: 4vw;
}

#tache_profil p{
  font-size:1.5vw;
}


.fleur{
  background-image:url(../../public/images/dessins/fleur.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:2vw;
  height: 6vw;
  width:122vw;
}





  