body {
    margin:0;
}

#background_im{
    background-image: url(../../public/images/background/back_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 40vw;
    width:99vw;
}

#lvioleto{
text-align: center;

}

#lviolet{

    width: 70%;
margin-bottom:5vw;
}

#btn-1{
    border: 3px solid #FF6700;
    min-height: 100px;
    padding: 0 20px;
    font-size: 25px;
    width: 15vw;
    cursor: pointer;
    background-color: #ffffffe2;
transition: 2s;
}

#btn-1:hover{
background-color: #FF6700;
}

#lbout{
    text-align: center;
}










.grouping{
  margin-top:2vw;
  margin-left:3vw;
  margin-right:3vw;
  text-align: center;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-web img {
  width: 258%;
}

.box-web {
  width:200px ;
}

.row {
  display:flex;
  flex-wrap: wrap;
  gap: 43px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.row::after {   /*Contenu fantome afin de mettre les icônes en evenly*/
  content: "";
  width: 750px;  
}

.content {
  margin-top:4.5%;
   width: 100%;
   height: fit-content;
   margin-right: 12.5%;
 }

#feuille{
  width: 4vw;
  position: absolute;
  left:30vw;
}

h1 {
  font-size: 40px;
}

#map1{
  border-radius: 32px;
  margin-top:1vw;
}








/*footer*/
#gauche{
    align-self: flex-start;
    display: flex;
      list-style-type: none;
      text-decoration: none;
      flex-direction: column;
      margin-right: 40%;
  }

  #reseaux{
    display: flex;
    flex-direction: row;
  }

  #droite{
    align-self: flex-end;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
  }

  #droite img {
    max-height: 30px;
    max-width: 30px;
  }

  #droite ul li{
  padding-right: 5%;
  }

  #droite ul{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
  }

  footer a{
    text-decoration: none;
  }

  footer {
    display: flex;
  }

  
.foot{
    justify-content: space-between;
  }

  /*fin footer*/


  