body {
    margin:0;
    
      overflow-x:hidden;
      
}

 p{
  font-family: 'Roboto_light' , arial;
}

#background_im{
    background-image: url(../../public/images/background/back_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 42vw;
    width:100vw;
}

#background_im0{
  background-image: url(../../public/images/background/back_cc.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 50vw;
    width:100vw;
}

#lvioleto{
text-align: center;
margin-left:11vw;
margin-right:11vw;
color:white;
}

#lvioleto h2{
  padding-top:10vw;
  font-family:'DELLIGER', arial;
  color:white;
  font-size: 4vw;

}

#lviolet{

    width: 70%;
margin-bottom:vw;
}




.bg-video {

  top: 0;
  left: 0;
  height: 50vw;
  width: 100%;
  object-fit: cover;

}

#txt-t{
  display:flex;

  justify-content: center;


}

.txt{
  z-index: 5;
  position:absolute;
  margin-top:-20vw;
  text-align:center;
  margin-left:11vw;
margin-right:11vw;
color:white;
font-size:2vw;
border-radius: 16px;
background-color: rgba(0, 0, 0, 0.468);  
padding: 0 5vw;
padding-top:3vw;
  padding-bottom: 3vw;
}

.txt2{
  z-index: 5;
  position:absolute;
  margin-top:-48vw;
  text-align:center;
  color:white;
  font-family:'DELLIGER', arial;
  font-size:5vw;
  background-color: rgba(0, 0, 0, 0.468);  
  border-radius: 16px;
  padding: 0 5vw;
  padding-top:3vw;
  padding-bottom: 3vw;
}

.txt3{
  z-index: 5;
  position:absolute;
  margin-top:-33vw;
  text-align:center;
  padding: 0 3vw;
  padding-top:3vw;
  padding-bottom: 3vw;
  color:white;
  font-size: 2vw;

  background-color: rgba(0, 0, 0, 0.468);  
  border-radius: 16px;
}


#btn-1{
    border: 3px solid #FF6700;
    min-height: 100px;
    padding: 0 20px;
    font-size: 25px;
    width: 15vw;
    cursor: pointer;
    background-color: #ffffffe2;
transition: 2s;
}

#btn-1:hover{
background-color: #FF6700;
}

#lbout{
    text-align: center;
}






#btn-2{
  border: 3px solid #FFFF03;
  min-height: 40px;
  padding: 0 20px;
  font-size: 1vw;
  width: 10vw;
  cursor: pointer;
  background-color: #FFFF03;
  box-shadow: 0px 4px 10px #ffff03c9;
}



.grouping{
  margin-top:2vw;
  margin-left:3vw;
  margin-right:3vw;
  text-align: center;
}

h1{
  font-family:  'DELLIGER', arial;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-web img {
  width: 288%;
}

.box-web {
  width:200px ;
}

.row {
  display:flex;
  flex-wrap: wrap;
  gap: 4px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.content {
  margin-top:4.5%;
   width: 100%;
   height: fit-content;
   margin-right: 15.5%;
   margin-left:-12.5%;
 }


#tache_1{
  background-image: url(../../public/images/background/peint_rose.png);
  background-repeat:no-repeat;
  background-size:35vw;
  background-position:center;
  height: 19vw;
  width:92vw;
  margin-top:2vw;
  margin-bottom: 4vw;
}

#tache_1 p{
  font-size:1.4vw;
}

#feuille{
  width: 4vw;
 /*petit prob niveau abaissement taille*/
  left:30vw;
}

h1 {
  font-size: 40px;
}

#map1{
  border-radius: 32px;
  margin-top:1vw;
  width: 67%;
}

#tache_profil{
  background-image: url(../../public/images/background/peint_bleu.png);
  background-repeat:no-repeat;
  background-size:35vw;
  background-position:center;
  height: 19vw;
  width:92vw;
  margin-top:2vw;
  margin-bottom: 4vw;
}

#tache_profil p{
  font-size:1.4vw;
}


.fleur{
  background-image:url(../../public/images/dessins/fleur.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:2vw;
  height: 6vw;
  width:122vw;
}





  