@font-face {
    font-family: Roboto_light;
    src: url(../../public/font/Roboto-Light.ttf);
  }

  @font-face {
    font-family: Delliger;
    src: url(../../public/font/DELLIGER-PersonalUse.otf);
  }

h1{
    font-family: Delliger;
    font-size:100px ;
    text-align: center;
}

.img{
    margin: 0 0 70px 0;
}

p{
    text-align: center;
    margin-bottom: 95px;
    font-size: 20px;
    
}
button{
    font-family: Roboto_light;
    margin-bottom: 100px;
    font-size: 25px;
    margin-left: 683px;
    background-color: #9AFB04;
    border: 5px solid #9AFB04;
    border-radius: 25px;
  
}
.text{
    background-image: url(../images/background/rose.png);
    width: 60%;
    /* height: 1000px; */
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 61px;
    padding-top: 123px;
    margin-left: 11%;
    padding-left: 10%;
    padding-right: 10%;
}

a{
    text-decoration: none;
    color: black;
    
}
#img{
    width: 70%;
 margin-left: 15%;
  }