@font-face {
    font-family: Roboto_light;
    src: url(../../public/font/Roboto-Light.ttf);
  }

  @font-face {
    font-family: Delliger;
    src: url(../../public/font/DELLIGER-PersonalUse.otf);
  }

*{
padding: 0px;
margin: 0px; 
}

body{
    font-family: Roboto;
}

img{
    margin-left: 50px; 
    margin-right:100px ;
    width : 450px;
    height : 600px;
    
}
#texte {
    margin-left: 50%;
    margin-right: 5%;
    margin-top: -30%;
}

#texte h2{
font-family: delliger ;
font-size: 100px;
}
#texte h3{
    margin-top: 20px;
    font-size: 30px;
    font-family:roboto_light;
}
#texte p {
    margin-top: 20px;
    font-family: roboto_light;
    text-align: justify;
}

#boutton{
    text-align: center;
    margin-left: 50%;
    margin-top: 20px;
    width  : 90px;
  height : 40px;
  border-radius: 30px;
  background :#EFFF03;
  justify-content: center;
  padding: auto;
 display:flex;
 margin-bottom: 20%;
}
#boutton p {
    margin-top: 0.8vw;
}