.biere img{
    width: 85%;
}

.biere{
    width: 33vw;
    height: 30%;
    text-align: center;
    margin-bottom: 5%;
}

#bieres{
    justify-content: flex-start;
    display: flex;
    align-items: center;
}


#goodies{
    margin-top: 2%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3vh;
}

.goodies img{
    height: 50vh;
}

.goodies{
    width: 33%;
    text-align: center;
    margin-bottom: 3%;
}


h2{
    font-family: Delliger;
    text-align: center;
    margin-top: 5vh;
    font-size: 4em;
    margin-bottom: 0;
}

h4{
    font-family: Roboto_light;

}

a img:hover{
    transform: scale(1.1);
}