

main section h1{
    font-family: Delliger;
    font-size:100px ;
    text-align: center;
}

main section .gaucheee {
    width: 30%;
    height: 40%;
    margin-left: 17vw;
}

.droiteee{
  padding-top: 25vw;
  margin-left:2vw;
  margin-right:2vw;
  font-size:x-large;
}


#contenue{
  display:flex;
}


