

main section h1{
    font-family: Delliger;
    font-size:100px ;
    text-align: center;
}

main section .gaucheee {
    width: 30%;
    height: 40%;
    margin-left: 17vw;
}

.droiteee{
  padding-top: 25vw;
  margin-left:3vw;
  margin-right:4vw;
  font-size:x-large;
padding-bottom:15vw;
  
}


#contenue{
  display:flex;
  background-image: url(../images/background/);
  background-repeat:no-repeat;
  background-size:contain;
}


